.App-menu {
  flex: 1 1 auto;
  text-align: center;
  margin: 0px 0px 16px;
  padding: 0px 16px 16px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  text-align: left;
}

.App-menu li {
  padding: 0px;
}
.App-menu button {
  background-color: #e4c8c8;
  color: #f7061e;
  font-size: 16px;
  font-weight: 400;
  border: 0px;
  padding: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  border-radius: 8px;
  transition: all 0.37s ease-in-out;
  cursor: pointer;
}
.App-menu button:hover {
  background-color: #f0f8ff;
}
